{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#iframe_submit').click(function() {
                $('#return_type').val("iframe");
            });

            $('#oembed_submit').click(function() {
                $('#return_type').val("oembed");
                console.log("oembed submit?")
            });

            $('#widget_edit_form').submit(function(event){
                var p = $(location).attr('protocol');
                var h = $(location).attr('host');
                var widget_url = p + '//' + h + '/course_info/widget.html?course_instance_id={{ course_instance_id }}';


                if ($("#return_type").val() ==  "oembed") {
                    var endpoint_url = p + '//' + h + '/course_info/oembed';
                    $('#oembed_url').val(endpoint_url);
                }
                else if ($("#return_type").val() ==  "iframe") {
                    var widget_height = estimateHeight();
                    if (widget_height > 100 && widget_height < 1000) {
                        $("#widget_height").val(widget_height);
                    }
                }

                $('#widget_edit_form input:checkbox:checked').each(
                        function(){
                            widget_url += '&amp;f=' + $(this).val();
                        });

                $('#widget_url').val(widget_url);


            });

            $("#widget_edit_form_container input").on("change", function(e) {
                console.log("widget height estimate changed to:", estimateHeight());
            });

            // See ReadMe for details on how to get resizing to work in Canvas.
            // This function attempts to determine the content height for the checked fields.
            // This value will be used to set the "height" attribute of the iFrame so that
            // the content fits.
            function estimateHeight() {
                var $checked = $("#widget_edit_form_container input:checked");
                var $container = $('<div></div>');
                var height;

                $checked.each(function(idx) {
                    var $field = $(this).next().clone().wrap("<div></div>").parent();
                    $container.append($field);
                });

                height = $container.hide().appendTo("body").height();
                $container.remove();

                return height * 1.33; //fudge factor, better go a little over than under.
            }
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h4>Please select the fields you wish to display from the list below.</h4>

        <h5>Then, select either "Insert as Text" to place an editable table in the Canvas Editor, or
            "Insert as Widget" to embed a live-updating widget to mirror your iSite</h5>

        <p>The information in this widget is provided by the registrar's office.
            If any of it is outdated or incorrect, please contact the catalog coordinator in your department.</p>
    </div>
    <br/>
    <div id="widget_edit_form_container" class="container-fluid">

        <form action="{{ launch_presentation_return_url }}" id="widget_edit_form" method="get">

            {% for field in fields %}
                <div>
                    <input type="checkbox" id="{{ field.key }}" value="{{ field.key }}" checked/>
                    <span>{{ field.value }}</span>
                </div>
            {% endfor %}

            {# Many of these values are inserted dynamically by the JS above #}
            <input type="hidden" id="return_type"   name="return_type"  value=""/>
            <input type="hidden" id="oembed_url"    name="endpoint"     value=""/>
            <input type="hidden" id="widget_url"    name="url"          value=""/>
            <input type="hidden"                    name="width"        value="100%"        />
            <input type="hidden" id="widget_height" name="height"       value=""            />
            <input type="hidden"                    name="title"        value="Course Info" />
            <input type="hidden"                    name="id"           value="InfoFrame" />
            <br/>
            <input type="submit" class="btn btn-default" id="oembed_submit" name="oembed_submit" value="Insert as Text"/>
            <input type="submit" class="btn btn-default" id="iframe_submit" name="iframe_submit" value="Insert as Widget"/>
        </form>
        <br/>
    {# the </div> tag originally wasn't in, not sure if it's supposed to be out. #}
    {# It gets closed in the browser but think that's automatic, not from somewhere in our code#}
    </div>
{% endblock %}