{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block extra_js %}

{#{% comment %}#}
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            //using .ready() for now
            //TODO: use .onSubmit()
            $('#widget_edit_form').ready(function (event) {
                var p = $(location).attr('protocol');
                var h = $(location).attr('host');
                var widget_url = p + '//' + h + '/course_info/widget.html?course_instance_id={{ course_instance_id }}';
                $('#widget_edit_form input:checkbox:checked').each(
                        function () {
                            widget_url += '&amp;f=' + $(this).val();
                        });
                $('#widget_url').val(widget_url);
                console.log($('#widget_url'));

                var widget_height = estimateHeight();
                if (widget_height > 100 && widget_height < 1000) {
                    $("#widget_height").val(widget_height);
                }
            });

            $("#widget_edit_form_container input").on("change", function (e) {
                console.log("widget height estimate changed to:", estimateHeight());
            });

            // This function attempts to determine the content height for the checked fields .
            // This value will be used to set the "height" attribute of the iFrame so that it
            // the content fits.
            function estimateHeight() {
                var $checked = $("#widget_edit_form_container input:checked");
                var $container = $('<div></div>');
                var height;

                $checked.each(function (idx) {
                    var $field = $(this).next().clone().wrap("<div></div>").parent();
                    $container.append($field);
                });

                height = $container.hide().appendTo("body").height();
                $container.remove();

                return height * 1.33; //fudge factor, better go a little over than under.
            }
        });
    </script>
{#{% endcomment %}#}

{% endblock %}

{% block content %}

    {#    TODO: edit text to mirror functionality #}
    <h4>Please select the fields you wish to display from the list below and hit "insert" to include a
        live-updating course information widget in this page.</h4>

    <p>The information in this widget is provided by the registrar's office.
        If any of it is outdated or incorrect, please contact the catalog coordinator in your department.</p>
    <br/>
    <div id="widget_edit_form_container" class="container-fluid">

        <form action="{{ launch_presentation_return_url }}" id="widget_edit_form" method="get">

            {# TODO: figure out what we actually want in the popup #}
            {% for field in fields %}
                <div><input type="hidden" id="{{ field.key }}" type="checkbox" value="{{ field.key }}"
                            checked/><span>{{ field.value }}</span></div><br/>
            {% endfor %}

            {# This was originally implemented with a javascript hijacking#}
            {# need a live site, or else canvas won't be able to process the oembed request#}
            {# that's why the soundcloud request worked and ours got no response #}
            {# TODO: will likely need to dynamically insert correct URLs #}
            {# with jscript/embedded py as the info goes out #}
            {# <input type="hidden" id="widget_url" name="url" value="TODO:URL"/>#}
            <input type="hidden" name="return_type" value="oembed"/>
            {#  <input type="hidden" name="endpoint" value="TODO:URL"/>#}
            <input type="hidden" name="endpoint" value="http://ec2-52-26-169-34.us-west-2.compute.amazonaws.com:8000/course_info/oembed"/>
            <input type="hidden" id="widget_url" name="url" value=""/>
            <br/>
            <input type="submit" class="btn btn-default" name="insert" value="insert"/>
        </form>
        <br/>
{% endblock %}