{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#widget_edit_form').submit(function(event){
                // Clear any previously injected field inputs
                $(this).find('input.field-param').remove();

                // Always include course title
                $('<input>').attr({type: 'hidden', name: 'f', value: 'title', 'class': 'field-param'}).appendTo(this);

                // Add a hidden input for each checked field
                $('#widget_edit_form input:checkbox:checked').each(function(){
                    $('<input>').attr({type: 'hidden', name: 'f', value: $(this).val(), 'class': 'field-param'}).appendTo('#widget_edit_form');
                });
            });
        });
    </script>
{% endblock extra_js %}

{% block content %}

    <div class="container-fluid">
      <p>
        The course details you select below will be displayed on the page,
        and will always reflect the most up-to-date information available
        from the Registrar’s office.
      </p>
    </div>

    <div id="widget_edit_form_container" class="container-fluid course-info-edit-form">

        <form action="{% url 'course_info:deep_link_return' %}" id="widget_edit_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="canvas_course_id"   value="{{ canvas_course_id }}" />
          <input type="hidden" name="course_instance_id" value="{{ course_instance_id }}" />

          <ul class="list-group">
            {% for field in fields %}
              {# Show all fields except for course title, which is always included via JS #}
              {% if field.key != 'title' %}
                <li class="list-group-item checkbox">

                  {% if field.key == 'course.registrar_code_display' %}
                    <label>
                      <input type="checkbox" class="course_info_checkbox" id="{{ field.key }}" value="{{ field.key }}" checked/>
                      {% if field.value and school_title %}
                          <strong>{{ school_title }}:</strong>
                        </label>
                        {{ field.value }}
                      {% else %}
                          <strong>{{ field.label }}:</strong>
                          Field not populated by registrar
                        </label>
                      {% endif %}

                  {% else %}
                    <label>
                      <input type="checkbox" class="course_info_checkbox" id="{{ field.key }}" value="{{ field.key }}" checked/>
                      <strong>{{ field.label }}:</strong>
                    </label>
                    {% if field.value %}
                      {{ field.value }}
                    {% else %}
                      Field not populated by registrar
                    {% endif %}

                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>

            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </form>
        <br/>
    </div>
{% endblock content %}
