{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <base target="_blank">
{% endblock %}

{% block content %}
    <div id="course_info_container" class="container-fluid">
        <ul class="list-group course-info-widget-field-list">

          {% for field in fields %}

            {% if field.key == 'title' %}
              <li class="list-group-item list-group-item-info panel-title">
                <strong>{{ field.value }}</strong>
              </li>

            {% elif field.key == 'course.registrar_code_display' %}
              <li class="list-group-item">
                {% if field.value and school_title %}
                  <strong>{{ school_title }}:</strong> {{ field.value }}
                {% else %}
                  <strong>{{ field.label }}:</strong> Field not populated by registrar
                {% endif %}

            {% else %}
              <li class="list-group-item">
                <strong>{{ field.label }}:</strong>
                {% if field.value %}
                  {{ field.value }}
                {% else %}
                  Field not populated by registrar
                {% endif %}
              </li>

            {% endif %}

          {% endfor %}

        </ul>

        {% if show_registrar_fields_message %}
          Additional information will be shown if available from the Registrar.
        {% endif %}

    </div>

{% endblock %}
