SECURE_SETTINGS = {
    'enable_debug' : False,

    'django_secret_key': 'some_secret_key123',

    'db_default_name': 'canvas_course_info',
    'db_default_user': 'canvas_course_info',
    'db_default_password': 'password',
    'db_default_host': '127.0.0.1',
    'db_default_port': 5432,

    'redis_host': '127.0.0.1',
    'redis_port': '6379',

    'lti_oauth_credentials': {'your_key' : 'your_secret'},

    'icommons_api_token': '123token456',
    'icommons_base_url': 'https://icommons.harvard.edu',

	#For debug purposes, you can force it to return course info for a particular course
    #'course_instance_id': '312976'
}