td {
    border: thin solid #dbdbdb;
    padding: 5px;
}

/* Fixes Save button .pull-right removing bottom margin of editor main div */
.course-info-edit-form {
    margin-bottom: 1em;
}

.course-info-widget-field-list {
    width: 100%;
}
