{% extends 'icommons_ui/base_lti.html' %}
{% load static %}

{% block head_meta %}
    {{ block.super }}
    <meta charset="UTF-8">
{% endblock head_meta %}

{% block javascript %}
    <script src="https://static.tlt.harvard.edu/shared/jquery-3.6.3/jquery-3.6.3.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
{% endblock javascript %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/course_info.css' %}">
    {% block extra_css %}{% endblock %}
{% endblock stylesheet %}
